<section class="section">
    <div class="container">
        <div class="{{class}}_title">
            <h2>Общая информация</h2>
        </div>
        <div class="{{class}}_info-list">
            <div class="{{class}}_info-item">
                <span>1</span>
                <span>22222</span>
                <span>33</span>
            </div>
            <div class="{{class}}_info-item">День святого валентина</div>
            <div class="{{class}}_info-item">День святого валентина</div>
        </div>

    </div>
</section>
