<section class="{{class}}_section">
    <div class="{{class}}_container">
        <h2>До Конца Ивента</h2>
        <div class="{{class}}_timer">
            <span class="{{class}}_numbers">{{days}}</span>
            <span class="{{class}}_numbers">{{hours}}</span>
            <span class="{{class}}_numbers">:</span>
            <span class="{{class}}_numbers">{{minutes}}</span>
            <span>дней</span>
            <span>часов</span>
            <span> </span>
            <span>минут</span>
        </div>
    </div>
</section>


