.resources-fields {

    &_container {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        padding: 15px;
        margin: 10px;
        background: #999999;
        border-radius: 10px;
        box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
        //border-right: 3px solid #e2828e;
    }

    &_inputs {
        display: flex;
        flex-direction: column;
    }

    &_farm-now {
        input {
            height: 30px;
            background: url(../../assets/images/ValentinesDay/flower.png) no-repeat scroll 1px 1px;
            padding-left: 35px;
            // turn off arrows
            -moz-appearance: textfield;
        }

        // turn off arrows
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &_img {
        
        img {
            width: 200px;
        }
    }
}
