.logo-section {
    display: flex;
    //background-color: #e98eb7;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;

    h1 {
        //background-color: #fce4ec;
        text-align: center;
        align-self: center;
    }

    img {
    }
}
