.logo-section {
    display: flex;
    //background-color: #e98eb7;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    height: 150px;

    h1 {
        //background-color: #fce4ec;
        text-align: center;
        align-self: center;
        font-size: 5rem;
    }

    // img {
    // }
}
