<section class="section">
    <div class="container">
        <div class="{{class}}_pre-table">
            Следующая таблица &darr; считает сколько осталось пройти приключений, чтобы набрать оставшееся количество &uarr; пополнях.
        </div>

        <div class="{{class}}_table-wrapper">
            <h2>Таблица лута</h2>
            <h2>Активные бафы</h2>
            <div class="{{class}}_table">
                <table mat-table [dataSource]="adventureList" class="mat-elevation-z8">
                    
                    <ng-container matColumnDef="icon">
                        <th mat-header-cell *matHeaderCellDef>  </th>
                        <td mat-cell *matCellDef="let element"> <img src="../../assets/images/adventures/{{element.icon}}.png" > </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Название </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="loot">
                        <th mat-header-cell *matHeaderCellDef> 70% / 30% Лцут </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div class="{{class}}_guide-item">
                                {{element.loot}} 
                                <img src="../../assets/images/ValentinesDay/addflower.png"> 
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="needToFinish">
                        <th mat-header-cell *matHeaderCellDef> Осталось пройти </th>
                        <td mat-cell *matCellDef="let element"> {{element.needToFinish}} </td>
                    </ng-container>

                    <ng-container matColumnDef="guide">
                        <th mat-header-cell *matHeaderCellDef> Гайды </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="{{class}}_guides-container">
                                <div *ngFor="let guides of element.guide"
                                    class="{{class}}_guide-item">
                                    {{guides.text}} <a target="blank" href="{{guides.url}}"> 
                                        <img src="../../assets/images/adventures/guide.png">
                                    </a> 
                                </div> 
                            </div>
                        </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="columnsHeader"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsHeader;"></tr>
                  </table>
            </div>
            <div class="{{class}}_buffs">
                <form [formGroup]="buffForm">
                    <div class="{{class}}_buff">
                        <img src="../../assets/images/ValentinesDay/vbuff.png">
                        <mat-slide-toggle formControlName="valentine"
                            matTooltip="Появляется при 3х активных карточках, дает x3 баф на количество пополнях">Баф Валентина
                        </mat-slide-toggle>
                    </div>
                    <div class="{{class}}_buff">
                        <img src="../../assets/images/premium.png">
                        <mat-slide-toggle formControlName="premium"
                            matTooltip="Стандартный прем, увеличивает лут на 50%">Премимум
                        </mat-slide-toggle>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
